<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

  <div class="header">
    National Park Info.
  </div>
  
  <div class="body-content">
    @RenderBody()
  </div>

  <div class="footer">
    <br />
    Thank you for visiting!
  </div>
</body>
</html>
